body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* Fallback color */
  }
  
  .bg-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place video behind other content */
  }
  
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .auth-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    z-index: 1; /* Ensure form is above video */
    position: relative;
    margin-top: 150px;
  }
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .logo {
    width: 200px;
    display: block;
    margin: 0 auto; /* Center the logo */
  }
  
  .signup-text {
    text-align: left;
    display: block;
    margin-bottom: 5px; /* Ensures the span takes the full width */
  }
  
  .signup-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
  }
  
  .signup-link:hover, .signup-link:focus, .signup-link:active {
    text-decoration: none; /* Ensures underline does not appear on hover, focus, or active states */
    outline: none; /* Removes outline for better visual consistency */
  }
  
  .signup-link:visited {
    color: inherit; /* Ensures the visited link color remains consistent */
  }
  
  a{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
  }
  
  .error-message{
    background-color: #ac3e31;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }